<div class="row">
  <div class="large-12 columns">
    <h1>Help</h1>
    <p>Per qualsiasi aiuto, segnalazione od altro contattare <%= mail_to 'heartfiller.ansapami@gmail.com' %>
    </p>

  </div>
</div>
