<div class="row">
  <div class="large-12 columns">
    <h1>Help</h1>
    <p>Per qualsiasi aiuto, suggerimento, segnalazione od altro non esitare a contattarci <%= mail_to 'heartfiller.ansapami@gmail.com','HEART FILLER' %></p>
  </div>
</div>