<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <div class="row">
      <div class="large-12 columns">
        <%= render template: "campaigns/index" %>
      </div>
    </div>
  <% else %>
    <%= render template: "heart_filler/home" %>
  <% end %>
<% else %>
  <%= render template: "heart_filler/home" %>
<% end %>

