// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//giorno
#user_information_attributes_date_of_birth_3i{
	display: inline;
	min-width:   80px;
	width: 8%;
}

//mese
#user_information_attributes_date_of_birth_2i{
	display: inline;
	min-width:   176px;
	width: 20%;
}

//anno
#user_information_attributes_date_of_birth_1i{
	display: inline;
	min-width:   80px;
	width: 11%;
}


