<p>Ciao <%= @resource.email %>!</p>

<p>E' stato richiesto il link per cambiare la password. Puoi farlo cliccando il link qui sotto.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se non sei stato tu a fare questa richiesta per favore ignora questa email.</p>
<p>La tua password non verrà cambiata fino a quando non si accede al link qui sopra e se ne comunica una nuova.</p>

<hr>

<p>English version</p>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
